<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="hyacinth/common/header :: header" />
<div class="layui-container fly-marginTop fly-user-main">
	<!-- 公告-->
        <blockquote class="layui-elem-quote layui-text" style="background-color: #ffffff;" th:if="${not #lists.isEmpty(config['notice'])}">
            <i class="layui-icon layui-icon-speaker"></i><th:block th:utext="${config['notice']}" />
        </blockquote>
	<div class="layui-card">
        <div class="layui-card-body">
			<fieldset class="layui-elem-field">
				<legend>商品信息</legend>
                <div class="layui-row">
                    <div class="layui-col-xs12 layui-col-md4">
                        <div class="layui-field-box">
                            <p><img th:src="${#lists.isEmpty(product.getImgurl())} ? '/templates/hyacinth/images/noimg.jpg' : ${product.getImgurl()}" alt="" height="300px" width="100%"></p>
						</div>
                    </div>
                    <div class="layui-col-xs12 layui-col-md8">
                        <div class="layui-field-box">
							<form class="layui-form layui-form-pane" method="post">
								<p><span class="layui-badge layui-bg-green" th:if="${not #lists.isEmpty(product.getAuto()) && product.getAuto()>0}">自动发货</span><span class="layui-badge layui-bg-black" th:if="${#lists.isEmpty(product.getAuto()) || product.getAuto()==0}">手工发货</span><span class="trade-goodname" th:text="${product.getName()}"></span></p><hr>
								<p class="trade-goodinfo">
									<span style="color:#6c6c6c">价格：</span>
									<span class="trade-price" th:text="'¥ '+${product.getPrice()}"></span>
									<span class="trade-price-ori" th:if="${not #lists.isEmpty(product.getPriceOri()) && product.getPriceOri()>0}" th:text="'¥ '+${product.getPriceOri()}"></span>
								</p>
								
								<div class="layui-form-item">
									<label class="layui-form-label" style="color: #6c6c6c;">数量：</label>
									<div class="layui-input-inline">
										<input type="number" name="number" id="number" lay-verify="required|numberCheck" maxlength=10 value="1" placeholder="" autocomplete="off" class="layui-input">
									</div>
									<div class="layui-form-mid layui-word-aux layui-hide-xs" th:if="${product.getStockcontrol()>0}" th:text="${product.getQty()>0} ? '件&nbsp;(库存' + ${product.getQty()} + ')' : '缺货中'"></div>
									<div class="layui-form-mid layui-word-aux layui-hide-xs" th:if="${product.getStockcontrol()<=0}">不限量</div>
								</div>
										<div class="layui-form-item" th:if="${not #lists.isEmpty(config['orderinputtype']) && config['orderinputtype']=='2'}">
											<label class="layui-form-label">QQ：</label>
											<div class="layui-input-inline">
												<input type="number" name="qq" id="qq" class="layui-input" required lay-verify="required|number">
											</div>
										</div>
										<div class="layui-form-item" th:if="${#lists.isEmpty(config['orderinputtype']) || config['orderinputtype']!='2'}">
											<label class="layui-form-label">邮箱账户</label>
											<div class="layui-input-inline">
												<input type="text" name="email" id="email" class="layui-input" required lay-verify="required|email">
											</div>
						</div>

								<div class="layui-form-item" th:if="${not #lists.isEmpty(config['querycontactswitch']) || config['querycontactswitch']>0}">
									<label class="layui-form-label">查询密码</label>
									<div class="layui-input-inline">
										<input type="text" name="chapwd" id="chapwd" class="layui-input" required lay-verify="required" placeholder="将作为自助查询订单重要依据">
									</div>
								</div>

								
								<div class="layui-form-item">
									<div class="layui-input-block">
										<input type="hidden" name="price" id="price" readonly disabled th:value ="${product.getPrice()}">
										<input type="hidden" name="qty" id="qty" readonly disabled  th:if="${product.getStockcontrol()>0}" th:value="${product.getQty()>0} ? ${product.getQty()} : '缺货中'">
										<input type="hidden" name="qty" id="qty" readonly disabled  th:if="${product.getStockcontrol()<=0}" th:value="不限量">
										<input type="hidden" name="stockcontrol" id="stockcontrol" th:value="${product.getStockcontrol()}">
										<input type="hidden" name="limitorderqty" id="limitorderqty" th:value="${config['limitorderqty']}">
										<input type="hidden" name="pid" id="pid" th:value="${product.getId()}">
										<button class="layui-btn" id="buy" lay-submit lay-filter="buy" th:disabled="${product.getStockcontrol()>0 &&product.getQty()<1}">立即购买</button>
										<button type="reset" class="layui-btn layui-btn-primary">重置</button>
									</div>
								</div>
							</form>
                        </div>
					</div>
				</div>
			</fieldset>
			<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
				<ul class="layui-tab-title">
					<li class="layui-this">商品描述</li>
				</ul>
				<div class="layui-tab-content" style="">
					<div class="layui-tab-item layui-show">
						<th:block th:if="${not #lists.isEmpty(product.getDescription())}" th:utext="${product.getDescription()}">
						</th:block>
					</div>	  
				</div>
			</div>
        </div>
     </div>

</div>

<!--引入公共底文件-->
<th:block  th:include="hyacinth/common/footer :: footer" />
<!--首页广告-->
<script>
layui.use('product');
var PASSWORD_PRODUCT = 0;
</script>