<footer th:fragment="footer">
	<div class="fly-footer">
	  <p>Powered by <a href="https://github.com/liangjies" target="_blank">FAKA <?php echo VERSION;?></a></p>
	</div>
<script src="/res/layui/layui.js"></script>
<script th:inline="javascript">
layui.config({
  version: [[${version}]]
  ,base: '/templates/hyacinth/js/'
}).use('common');
layui.use('element', function(){
  var element = layui.element;
});
</script>
<!--统计代码-->
<th:block th:if="${not #lists.isEmpty(config['headermenucolor'])}" th:utext="${config['tongji']}" />
</body>
</html>
</footer>